<div class="flex justify-center mt-5">
  <div class="block max-w-sm rounded-lg bg-white p-6 shadow-lg">
    <h5 class="mb-2 text-xl font-medium leading-tight text-gray-900">About</h5>
    <p class="mb-4 text-base text-gray-700">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore sint vero quis ratione cupiditate dolorem.</p>
  </div>
</div>