<p class="flex justify-center font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum error sit perferendis libero, doloribus atque, consequuntur ullam obcaecati optio delectus laudantium tempora ut, hic veritatis voluptates quidem placeat voluptas.</p>
