<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.2/tailwind.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Notes App</title>
</head>

<body class="bg-teal-300">
  {{>navigation}}
  <main class="container mx-auto">
    {{>message}}
    {{>errors}}

    {{{body}}}
  </main>
  <script src="/src/public/javascripts/message.js"></script>
</body>

</html>