{{#if error}}
<div class="mt-5 flex w-full justify-between rounded bg-red-600 p-3 text-red-200 shadow-inner">
    <p class="self-center"><strong>Danger </strong> {{error}} </p>
    <strong class="align-center alert-del cursor-pointer text-xl">&times;</strong>
</div>
{{/if}}


{{#each errors}}
<div class="mt-5 flex w-full justify-between rounded bg-red-600 p-3 text-red-200 shadow-inner">
    <p class="self-center"><strong>Danger </strong> {{text}} </p>
    <strong class="align-center alert-del cursor-pointer text-xl">&times;</strong>
</div>
{{/each}}

<!--Script For Close alert-->
<script>
    var alert_del = document.querySelectorAll('.alert-del');
    alert_del.forEach((x) =>
        x.addEventListener('click', function () {
            x.parentElement.classList.add('hidden');
        })
    );
</script>