{{#if success_msg}}
<a href="/notes">
    <button class="mt-2 inline-flex items-center rounded-lg bg-blue-700 py-2 px-4 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"">
        {{success_msg}}
    </button>
</a>
{{/if}}